<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}GymLand{% endblock %}</title>
        <!-- Favicon rimosso -->
        <!-- Custom CSS (se serve, aggiungi il tuo file)-->
        {% block head %}{% endblock %}
    </head>
    <body id="page-top">
        {% block body %}{% endblock %}
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
